<div ng-app="app">
 <div ng-controller="meetingsCtrl">

 <h1> Add a new meeting: </h1>
    <ul id="errors">
      <li ng-repeat="error in errors">{{ error }}</li>
    </ul>
    <div>
      Name: <input ng-model="inputName">
      <br>
      Address: <input ng-model="inputAddress">
      <br>
      Start Time: <input ng-model="inputStartTime">
      End Time: <input ng-model="inputEndTime">
      <br>
      Notes: <input ng-model="inputNotes">
      <button ng-click="addMeeting(inputName, inputAddress, inputStartTime, inputEndTime, inputNotes)">Add meeting</button>
    </div>

  <h1><a href="/meetings">All meetings, Json</a></h1>
  <div>
    <label> Filter name: </label>
    <input ng-model="nameFilter" list = "names">

    <datalist id="names">
      <option ng-repeat="meeting in meetings">{{ meeting.name }}</option>
    </datalist>

  </div>
    <div>
      <button ng-click="setOrderAttribute('name')">Order by name</button>
      <button ng-click="setOrderAttribute('address')">Order by address</button>
      <button ng-click="setOrderAttribute('start_time')">Order by start time</button>
    </div>
  <div ng-repeat="meeting in meetings | filter: {name: nameFilter} | orderBy:orderAttribute:isOrderDescending">
    <h3><a href="/meetings/{{meeting.id}}"> {{meeting.name}}</a></h3>
    <p>
      Tags:
      <a ng-repeat="tag in meeting.tags" href="/meetings?tag={{tag.name}}">  {{tag.name}}  </a>
    </p>
    <p>Address: {{meeting.address}}</p>
    <p>Start time: {{meeting.start_time}}</p>
    <p>End time: {{meeting.end_time}}</p>
  </div>

  </div>
</div>